<a href="https://colab.research.google.com/github/youngmin-jin/exercise/blob/main/ETL_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Extract Transform Load (ETL) Lab**

## Download Files

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip

--2023-09-06 03:27:59--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4249 (4.1K) [application/zip]
Saving to: ‘datasource.zip.1’

datasource.zip.1    100%[===================>]   4.15K  --.-KB/s    in 0s

2023-09-06 03:27:59 (37.1 MB/s) - ‘datasource.zip.1’ saved [4249/4249]

## Unzip Files

In [ ]:
!unzip datasource.zip -d dealership_data

Archive:  datasource.zip
caution: filename not matched:  -y

In [ ]:
temp = pd.read_csv('dealership_data/used_car_prices1.csv')
temp

       car_model  year_of_manufacture         price    fuel
0           ritz                 2014   5000.000000  Petrol
1            sx4                 2013   7089.552239  Diesel
2           ciaz                 2017  10820.895522  Petrol
3        wagon r                 2011   4253.731343  Petrol
4          swift                 2014   6865.671642  Diesel
5  vitara brezza                 2018  13805.970149  Diesel
6           ciaz                 2015  10074.626866  Petrol
7        s cross                 2015   9701.492537  Diesel
8           ciaz                 2016  13059.701493  Diesel
9           ciaz                 2015  11119.402985  Diesel

In [ ]:
temp.columns

Index(['car_model', 'year_of_manufacture', 'price', 'fuel'], dtype='object')

## About the Data

The file `dealership_data` contains CSV, JSON, and XML files for used car data which contain features named `car_model`, `year_of_manufacture`, `price`, and `fuel`.

## Set Paths

In [ ]:
tmpfile    = "dealership_temp.tmp"               # file used to store all extracted data
logfile    = "dealership_logfile.txt"            # all event logs will be stored in this file
targetfile = "dealership_transformed_data.csv"   # file where transformed data is stored

## Extract

### Question 1: CSV Extract Function

In [ ]:
# Add the CSV extract function below
def extract_csv(filename):
    result = pd.read_csv(filename)
    return result

<details><summary>Click here for the solution</summary>
    
```
    
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe
```
</details>

### Question 2: JSON Extract Function

In [ ]:
# Add the JSON extract function below
def extract_json(filename):
    result = pd.read_json(filename, lines=True)
    return result

<details><summary>Click here for the solution</summary>
    
```
    
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe
```
</details>

### Question 3: XML Extract Function

In [ ]:
# Add the XML extract function below, it is the same as the xml extract function above but the column names need to be renamed.
def extract_xml(filename):
    result = pd.DataFrame(columns = ['car_model', 'year_of_manufacture', 'price', 'fuel'])
    tree = ET.parse(filename)
    root = tree.getroot()
    for item in root:
        car_model = item.find('car_model').text
        year_of_manufacture = int(item.find('year_of_manufacture').text)
        price = float(item.find('price').text)
        fuel = item.find('fuel').text

        result = result.append({'car_model':car_model, 'year_of_manufacture':year_of_manufacture, 'price':price, 'fuel':fuel}, ignore_index=True)
    return result

<details><summary>Click here for the solution</summary>
    
```
    
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel'])
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
    return dataframe
```
</details>

### Question 4: Extract Function

Call the specific extract functions you created above by replacing the `ADD_FUNCTION_CALL` with the proper function call.

In [ ]:
def extract():
    extracted_data = pd.DataFrame(columns=['car_model', 'year_of_manufacture', 'price', 'fuel'])

    for csv_file in glob.glob('dealership_data/*.csv'):
        extracted_data = extracted_data.append(extract_csv(csv_file), ignore_index=True)
    for json_file in glob.glob('dealership_data/*.json'):
        extracted_data = extracted_data.append(extract_json(json_file), ignore_index=True)
    for xml_file in glob.glob('dealership_data/*.xml'):
        extracted_data = extracted_data.append(extract_xml(xml_file), ignore_index=True)
    return extracted_data

<details><summary>Click here for the solution</summary>
    
```
    
def extract():
    extracted_data = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("dealership_data/*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("dealership_data/*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    #process all xml files
    for xmlfile in glob.glob("dealership_data/*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
        
    return extracted_data
```
</details>

## Transform

### Question 5: Transform

Round the `price` columns to 2 decimal places

In [ ]:
# Add the transform function below
def transform(data):
    data['price'] = round(data['price'], 2)
    return data

<details><summary>Click here for the solution</summary>
    
```

def transform(data):
        data['price'] = round(data.price, 2)
        return data
```
</details>

## Loading

### Question 6: Load

In [ ]:
# Add the load function below
def load_file(targetfile, data):
    data.to_csv(targetfile)

<details><summary>Click here for the solution</summary>
    
```

def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)  
```
</details>

## Logging

### Question 7: Log

Make sure to change the name of the logfile to the one specified in the set paths section. Change the timestamp order to Hour-Minute-Second-Monthname-Day-Year.

In [ ]:
# Add the log function below
def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open('dealership_logfile.txt', 'a') as f:
        f.write(timestamp + ',' + message + '\n')

<details><summary>Click here for the solution</summary>
    
```

def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y' #Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')
```
</details>

## Running ETL Process

### Question 8: ETL Process

Run all functions to extract, transform, and load the data. Make sure to log all events using the `log` function. Place your code under each comment.

In [ ]:
# Log that you have started the ETL process
log('started ETL process')

# Log that you have started the Extract step
log('started Extrat step')

# Call the Extract function
extracted_data = extract()

# Log that you have completed the Extract step
log('completed Extrat step')

# Log that you have started the Transform step
log('started Transform step')

# Call the Transform function
transform(extracted_data)

# Log that you have completed the Transform step
log('completed Transform step')

# Log that you have started the Load step
log('started Load step')

# Call the Load function
load_file(targetfile, extracted_data)

# Log that you have completed the Load step
log('completed Load step')

# Log that you have completed the ETL process
log('completed ETL process')

In [ ]:
!ls

ExtractTransformLoad_V2.ipynb  dealership_data
datasource.zip		       dealership_logfile.txt
datasource.zip.1	       dealership_transformed_data.csv

In [ ]:
with open('dealership_logfile.txt','r') as f:
    logfile = f.read()
    f.close()
logfile

'03:48:31-Sep-06-2023,started ETL process\n03:48:31-Sep-06-2023,started Extrat step\n03:48:31-Sep-06-2023,completed Extrat step\n03:48:31-Sep-06-2023,started Transform step\n03:48:31-Sep-06-2023,completed Transform step\n03:48:31-Sep-06-2023,started Load step\n03:48:31-Sep-06-2023,completed Load step\n03:48:32-Sep-06-2023,completed ETL process\n'

In [ ]:
with open('dealership_transformed_data.csv','r') as f:
    data = f.read()
    f.close()
data

',car_model,year_of_manufacture,price,fuel\n0,ritz,2014,5000.0,Petrol\n1,sx4,2013,7089.55,Diesel\n2,ciaz,2017,10820.9,Petrol\n3,wagon r,2011,4253.73,Petrol\n4,swift,2014,6865.67,Diesel\n5,vitara brezza,2018,13805.97,Diesel\n6,ciaz,2015,10074.63,Petrol\n7,s cross,2015,9701.49,Diesel\n8,ciaz,2016,13059.7,Diesel\n9,ciaz,2015,11119.4,Diesel\n10,alto 800,2017,4253.73,Petrol\n11,ciaz,2015,10223.88,Diesel\n12,ciaz,2015,11194.03,Petrol\n13,ertiga,2015,9104.48,Petrol\n14,dzire,2009,3358.21,Petrol\n15,ertiga,2016,11567.16,Diesel\n16,ertiga,2015,10820.9,Diesel\n17,ertiga,2016,11567.16,Diesel\n18,wagon r,2015,4850.75,CNG\n19,sx4,2010,3955.22,Petrol\n20,alto k10,2016,4253.73,Petrol\n21,ignis,2017,7313.43,Petrol\n22,sx4,2011,6567.16,Petrol\n23,alto k10,2014,3731.34,Petrol\n24,wagon r,2013,4328.36,Petrol\n25,swift,2011,4477.61,Petrol\n26,swift,2013,6194.03,Petrol\n27,swift,2017,8955.22,Petrol\n28,alto k10,2010,2910.45,Petrol\n29,ciaz,2015,11119.4,Diesel\n30,ritz,2012,4626.87,Diesel\n31,ritz,2011,3507.46,Petrol\n32,swift,2014,7388.06,Diesel\n33,ertiga,2014,8955.22,Diesel\n34,dzire,2014,8208.96,Diesel\n35,sx4,2011,4402.99,CNG\n36,dzire,2015,6940.3,Petrol\n37,800,2003,522.39,Petrol\n38,alto k10,2016,4477.61,Petrol\n39,sx4,2003,3358.21,Petrol\n40,baleno,2016,8731.34,Petrol\n41,alto k10,2014,3805.97,Petrol\n42,sx4,2008,2910.45,Petrol\n43,dzire,2014,8208.96,Diesel\n44,omni,2012,1865.67,Petrol\n45,ciaz,2014,11194.03,Petrol\n46,ritz,2013,3955.22,Petrol\n47,wagon r,2006,1567.16,Petrol\n48,ertiga,2015,8656.72,Petrol\n49,ciaz,2017,11567.16,Petrol\n50,fortuner,2012,22238.81,Diesel\n51,fortuner,2015,34328.36,Diesel\n52,innova,2017,26865.67,Diesel\n53,fortuner,2013,23880.6,Diesel\n54,innova,2005,4104.48,Petrol\n55,corolla altis,2009,5373.13,Petrol\n56,etios cross,2015,6716.42,Petrol\n57,corolla altis,2010,7089.55,Petrol\n58,etios g,2014,6119.4,Petrol\n59,fortuner,2014,29835.82,Diesel\n60,corolla altis,2013,10373.13,Petrol\n61,etios cross,2015,6716.42,Petrol\n62,fortuner,2014,27985.07,Diesel\n63,fortuner,2015,35074.63,Diesel\n64,fortuner,2017,49253.73,Diesel\n65,etios liva,2014,7089.55,Diesel\n66,innova,2017,29477.61,Petrol\n67,fortuner,2010,13805.97,Diesel\n68,corolla altis,2011,6492.54,Petrol\n69,corolla altis,2016,21268.66,Petrol\n70,etios liva,2014,5895.52,Diesel\n71,corolla altis,2011,6716.42,Diesel\n72,corolla altis,2013,11119.4,Petrol\n73,etios liva,2011,3955.22,Petrol\n74,etios cross,2014,7313.43,Diesel\n75,etios g,2015,5895.52,Petrol\n76,corolla altis,2013,8208.96,Petrol\n77,corolla,2004,2238.81,Petrol\n78,corolla altis,2010,7835.82,Petrol\n79,fortuner,2012,21641.79,Diesel\n80,corolla altis,2016,21985.07,Diesel\n81,etios gd,2015,7089.55,Diesel\n82,innova,2017,34328.36,Diesel\n83,innova,2015,18656.72,Diesel\n84,innova,2005,5208.96,Diesel\n85,camry,2006,3731.34,Petrol\n86,land cruiser,2010,52238.81,Diesel\n87,corolla altis,2012,8805.97,Petrol\n88,etios liva,2013,5149.25,Petrol\n89,etios g,2014,7089.55,Petrol\n'

<details><summary>Click here for the solution</summary>
    
```

log("ETL Job Started")

log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")

log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")

log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

log("ETL Job Ended")
```
</details>

## Authors

Ramesh Sannareddy

Joseph Santarcangelo

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).